#grid {
    height: 100%;
    width: 100%;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
}

#status {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100px;
    background: rgba(4,11,24,0.95)
}

.row {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.cell {
    border: 1px solid white;
    height: 100%;
    width: 100%;
    cursor: pointer;
    font-size: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}