.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
}

#links {
  width: 75vw;
  max-width: 22.5rem;
}

.cover {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 15rem;
  margin-bottom: 2.5rem;
}

.cover img {
  min-width: 100%;
  min-height: 100%
}

.header {
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 0.25vmin);
}

#pen_container {
  width: 500px;
  height: 500px;
  position: relative;
}